
*{
    box-sizing: border-box;
}

body{
    background-image: url("./images/paper.png");
}

.content{
   border: 2px solid blue;
   margin-left: 10%;
   margin-right: 10%;
   background-color: ivory;
}


nav{
    border: 3px solid orange;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}

div{
    border: 2px solid lime;
    background-color: rgb(236,236,245);
    padding: 15px; /********** this would chnage the look that it wont match the given sample output*********/
    margin-top: 10px;
}

footer{
    border: 2px solid magenta;
}

/*
p{
    border: 2px solid gray;
}
    */

span{
    border: 2px solid cyan;
}

header{
    border: 2px solid green;
}
